body{
  margin: 0;
  padding: 0;
}

 body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/Forrest2.jpeg');
    background-position: 80% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.contact-form{
    position: absolute;
    font-family: 'PT Serif', serif;    
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family:'PT Serif', serif;
}

.avatar{
   position: absolute;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   overflow: hidden;
   top: calc(-80px/2);
   left: calc(50% - 40px);
}

.contact-form h2{
   margin: 0;
   padding: 0 0 30px;
   color: #fff;
   text-align: center;
   text-transform: capitalize;
}

.contact-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    color: #fff;
}

.contact-form input{
   width: 100%;
   margin-bottom: 20px;
   font-family:'PT Serif', serif;
}

.contact-form input[type=text],
.contact-form input[type=password]
{
   border:none; 
   font-family: 'PT Serif', serif;
   border-bottom: 1px solid #fff;
   background: transparent;
   outline: none;
   height: 40px;
   color: #fff;
   font-size: 16px; 
}

input[type=checkbox]{
    width: 20%;
    font-family: 'PT Serif', serif;
}

.contact-form input[type=submit]{
    height: 30px; 
    color: #fff;
    background-color: rgba(51,153,153,0.5);
    font-family: 'PT Serif', serif;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none; 
    margin-top: 15%;
}

.contact-form a
{
   color: #fff;
   font-size: 14px;
   font-weight: bold;
   font-family: 'PT Serif', serif;
   text-decoration: none;
}
